<body class="fondo">
    <div id="principal">
<div class="container">
    <div class="row">
        <div class="col-md-4 bg-secondary-subtle">
            <app-informacion-personal></app-informacion-personal>
        </div>
        <div class="col-md-8">
            <fieldset>
                <app-perfil-profesional></app-perfil-profesional>
            </fieldset>
    
            <fieldset>
            <app-educacion></app-educacion>
            </fieldset>
            
            <fieldset>
                <app-proyectos></app-proyectos>
            </fieldset>
            
            <fieldset>
                <app-habilidades></app-habilidades>

            </fieldset>
        </div>
        
        <footer>
            <app-contacto></app-contacto>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
    </div>
</div>
    </div>
</body>